{% extends "ITMProbe/model.html" %}
{%- if not page_title -%}
{%- set page_title = 'ITM Probe: Channel Model' %}
{%- endif -%}
{%- block model_params %}
    <div id="model_params">
      <fieldset>
	<legend>Channel Model Parameters</legend>
	<h3>Channel Model Parameters</h3>
	<div class="input_field">
	  <label for="source_nodes">Sources (max. 6):</label>
	  <input class="nodes_input" id="source_nodes" name="source_nodes" type="text">
	  <a class="helplink hiding" title="help" href="#" id="sources-help"><span>[?]</span></a>
	</div>
        <div toggle="sources-help" class="helpbox hidden" id="hsrc">
	  Enter the origins of the
	  <a href="doc/glossary.html#term-random-walk" target="qmbp-help">random walks</a>
	  (information flow) as NCBI
	  Gene IDs or canonical gene symbols appropriate for the selected
	  network. Identifiers may be separated by spaces, commas, semicolons,
	  tabs or line breaks. Up to six sources among all contexts can be specified
	  and each active context must contain at least one source.
        </div>
	<div class="input_field">
	  <label for="sink_nodes">Sinks (max. 6):</label>
	  <input class="nodes_input" id="sink_nodes" name="sink_nodes" type="text">
	  <a class="helplink hiding" title="help" href="#" id="sinks-help"><span>[?]</span></a>
	</div>
        <div toggle="sinks-help" class="hidden helpbox" id="hsinks">
	  Enter the destinations of the
	  <a href="doc/glossary.html#term-random-walk" target="qmbp-help">random walks</a>
	  (information flow) as NCBI
	  Gene IDs or canonical gene symbols appropriate for the selected
	  network. Identifiers may be separated by spaces, commas, semicolons,
	  tabs or line breaks. Up to six sinks among all contexts can be specified
	  and each active context must contain at least one sink.
        </div>
	<fieldset class="dissipation_choice">
	  <legend>Dissipation Criterion (choose one):</legend>
	  <div class="optline">
	    <ul>
	      <li><input class="dfrad" type="radio" name="dfcrit" value="df" checked="checked"></li>
	      <li><label for="df">Termination (dissipating) probability:</label></li>
	      <li><input class="coeff_input" id="df" name="df" type="text" value="0.15"></li>
	      <li><a class="helplink hiding" title="help" href="#" id="df-help"><span>[?]</span></a></li>
	    </ul>
	  </div>
          <div toggle="df-help" class="hidden helpbox" id="hdf">
	    Enter the probability for a random walk to terminate (dissipate) at each step.
	    Allowed values range from 0.0 to 1.0 - 1e-14.
	    <a href="doc/modelopts.html#channel-model" target="qmbp-help" >more...</a>
          </div>
	  <div class="optline">
	    <ul>
	      <li><input class="dfrad" type="radio" name="dfcrit" value="da"></li>
	      <li><label for="da">Expected drift from shortest path (absolute):</label></li>
	      <li><input class="coeff_input" id="da" name="da" type="text" value="2.0"></li>
	      <li><a class="helplink hiding" title="help" href="#" id="da-help"><span>[?]</span></a></li>
	    </ul>
	  </div>
          <div toggle="da-help" class="hidden helpbox" id="hda">
	    <p>Enter the average amount of steps a random walk can drift from its shortest
	      possible path as it moves from a source to a sink, in absolute units. With
	      more than one source, the length of the shortest path should be interpreted
	      as the average of the lengths of shortest paths from each source to the
	      sink closest to it.</p>
	    <p>A value close to 0 corresponds to termination probability close to 0 and means
	      that random walks can only visit the nodes on the shortest paths from each
	      source to its closest sinks. The value of 2 means that on average, each random
	      walk visits two nodes more than necessary on the way from its origin to its
	      destination.
	      <a href="doc/modelopts.html#channel-model" target="qmbp-help" >more...</a></p>
          </div>
	  <div class="optline">
	    <ul>
	      <li><input class="dfrad" type="radio" name="dfcrit" value="dr"></li>
	      <li><label for="dr">Expected drift from shortest path (relative):</label></li>
	      <li><input class="coeff_input" id="dr" name="dr" type="text" value="0.3"></li>
	      <li><a class="helplink hiding" title="help" href="#" id="dr-help"><span>[?]</span></a></li>
	    </ul>
	  </div>
          <div toggle="dr-help" class="hidden helpbox" id="hdr">
	    <p>Enter the average amount of steps a random walk can drift from its shortest
	      possible path as it moves from a source to a sink, as proportion of the length of
	      the shortest path. With
	      more than one source, the length of the shortest path should be interpreted
	      as the average of the lengths of shortest paths from each source to the
	      sink closest to it.</p>
	    <p>For example, if the length of the shortest path is 4, the value of 0.8
	      means that on average, each random walk visits 3.2 nodes more than necessary
	      on the way from its origin to its destination.
	      <a href="doc/modelopts.html#channel-model" target="qmbp-help" >more...</a></p>
          </div>
	</fieldset>
	<br>
      </fieldset>
    </div>
    <input id="model_type" name="model_type" type="hidden" value="channel">
{% endblock %}
