{% macro cvterm_query_panel(opts) -%}
    <form action="ITMProbe.cgi" id="query_form" method="post" name="query_form" target="_blank" enctype="multipart/form-data">
      <input type="hidden" name="view" value="4">
      <span class="sec_title" id="enrich-params">SaddleSum Query (Term Enrichment Analysis)</span>
      <div id="params_panel">
	<fieldset>
	  <input id="query_id" name="query_id" type="hidden" value="{{ opts.query_id }}">
	  <input name="transform_weights" type="hidden" value="none">
	  <h3>Term Database and Weights</h3>
	  <div class="input_field">
	    <label for="termdb">Term Database:</label>
	    <select id="termdb" name="termdb">
	      {% for txt in opts.termdb_names -%}
	      {% if loop.first -%}
	      <option selected="selected" value="{{ loop.index0 }}">{{ txt }}</option>
	      {% else -%}
	      <option value="{{ loop.index0 }}">{{ txt }}</option>
	      {% endif -%}
	      {%- endfor -%}
	    </select>
	  <a class="helplink hiding" title="help" href="#" id="termdb-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="termdb-help" class="hidden helpbox" id="htermdb">
	    Select the term database apropriate for your query.
	  </div>
	  <div class="input_field">
	    <label for="weights">Weights:</label>
	    <select id="weights" name="weights">
	      {% for txt, val in opts.weights -%}
	      {% if loop.first -%}
	      <option selected="selected" value="{{ val }}">{{ txt }}</option>
	      {% else -%}
	      <option value="{{ val }}">{{ txt }}</option>
	      {% endif -%}
	      {%- endfor -%}
	    </select>
	  <a class="helplink hiding" title="help" href="#" id="weights-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="weights-help" class="hidden helpbox" id="hweights">
	    Select the weights to be used for enrichment analysis.
	  </div>
	  <h3>Statistical Parameters</h3>
	  <div class="input_field">
	    <label for="cutoff_Evalue">E-value Cutoff:</label>
	    <input class="coeff_input" id="cutoff_Evalue" name="cutoff_Evalue" size="4" type="text" value="{{ opts.cutoff_Evalue }}">
	    <a class="helplink hiding" title="help" href="#" id="evalue-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="evalue-help" class="hidden helpbox" id="hevalue">
	    Set the largest E-value for a term to be considered significant.
	  </div>
	  <div class="input_field">
	    <label for="min_term_size">Minimum term size:</label>
	    <input class="coeff_input" id="min_term_size" name="min_term_size" size="4" type="text" value="{{ opts.min_term_size }}"/>
	    <a class="helplink hiding" title="help" href="#" id="termsize-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="termsize-help" class="hidden helpbox" id="htermsize">
	    Set the minimum number of entities for a term to be considered.
	    Only entites with supplied weights count towards the term size.
	  </div>
	  <div class="input_field">
	    <label for="stats">Statistics:</label>
	    <select id="stats" name="stats">
	      {% for txt, val in opts.stats -%}
	      {% if loop.first -%}
	      <option selected="selected" value="{{ val }}">{{ txt }}</option>
	      {% else -%}
	      <option value="{{ val }}">{{ txt }}</option>
	      {% endif -%}
	      {%- endfor -%}
	    </select>
	    <a class="helplink hiding" title="help" href="#" id="stats-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="stats-help" class="hidden helpbox" id="hstats">
	    Set statistical method used to evaluate term enrichment statistics.
	    <i>Lugananni-Rice</i> is the default SaddleSum method, while
	    <i>One-sided Fisher's Exact test</i> is a widely used alternative
	    that requires a cutoff (see below) to be set.
	  </div>
          <h3>Weight Processing Parameters</h3>
	  <div class="input_field">
	    <label for="cutoff_type">Apply cutoff:</label>
	    <select id="cutoff_type" name="cutoff_type">
	      {% for txt,val in opts.cutoff_type -%}
	      {% if loop.first -%}
	      <option selected="selected" value="{{ val }}">{{ txt }}</option>
	      {% else -%}
	      <option value="{{ val }}">{{ txt }}</option>
	      {% endif -%}
	      {%- endfor -%}
	    </select>
	    <a class="helplink hiding" title="help" href="#" id="cutofft-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="cutofft-help" class="hidden helpbox" id="hcutofft">
	    Choose a type of cutoff to apply. The value of cutoff should be
	    entered in the next field. <i>By rank</i> sets all weights ranked
	    lower than the chosen value to 0. If there are several weights tied
	    at the cutoff, keep all of them. <i>By weight</i>  sets all weights
	    smaller than the chosen value to 0.
	  </div>
	  <div class="input_field">
	    <label for="wght_cutoff">Cutoff value:</label>
	    <input class="coeff_input" id="wght_cutoff" name="wght_cutoff" size="4" type="text" value=""/>
	    <a class="helplink hiding" title="help" href="#" id="wcutoff-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="wcutoff-help" class="hidden helpbox" id="hwcutoff">
	    Enter the cutoff value. The interpretation of the value depends on
	    the cutoff type chosen above.
	  </div>
	  <div class="input_field">
	    <label for="discrete_weights">Discretize weights:</label>
	    <input class="coeff_input" id="discrete_weights"  type="checkbox" name="discrete_weights" value="1">
	    <a class="helplink hiding" title="help" href="#" id="discretize-help"><span>[?]</span></a><br>
	  </div>
          <div toggle="discretize-help" class="hidden helpbox" id="hdiscretize">
	    Discretize weights. Set all weights greater than 0 to 1 and all
	    those smaller than 0 to 0.
	  </div>
	  <h3>Output Parameters</h3>
	  <div class="input_field">
	    <label for="output">Output Format:</label>
	    <select id="output" name="output">
	      <option value="html" selected="selected">HTML with embedded image</option>
	      <option value="txt">Plain text (without image)</option>
	      <option value="tab">TAB-delimited (without image, full results)</option>
	    </select>
	    <a class="helplink hiding" title="help" href="#" id="output-help"><span>[?]</span></a>
	  </div>
	  <div toggle="output-help" class="helpbox hidden" id="hout">
	    Choose output format for the results.
	  </div>
	  <div class="input_field">
	    <label for="image_format">Image Format:</label>
	    <select id="image_format" name="image_format">
	      {% for txt,val in opts.image_formats -%}
	      {% if loop.first -%}
	      <option selected="selected" value="{{ val }}">{{ txt }}</option>
	      {% else -%}
	      <option value="{{ val }}">{{ txt }}</option>
	      {% endif -%}
	      {%- endfor -%}
	    </select>
	    <a class="helplink hiding" title="help" href="#" id="imgf1-help"><span>[?]</span></a>
	  </div>
	  <div toggle="imgf1-help" class="helpbox hidden" id="himgf1">
	    Choose the format of the image showing the hierarchy of significant
	    terms. The 'SVG in Navigator' format is best for viewing the image
	    online while 'SVG' can be used to save the image.
	  </div>
	  <div class="input_field">
	    <label for="color_map">Color Map:</label>
	    <select id="color_map" name="color_map">
	      {% for txt, val in opts.colormaps -%}
	      {% if loop.first -%}
	      <option selected="selected" value="{{ val }}">{{ txt }}</option>
	      {% else -%}
	      <option value="{{ val }}">{{ txt }}</option>
	      {% endif -%}
	      {%- endfor -%}
	    </select>
	    <a class="helplink hiding" title="help" href="#" id="color1-help"><span>[?]</span></a>
      	  </div>
      	  <div toggle="color1-help" class="helpbox hidden" id="hcolor1">
	    Choose the color palette to color the nodes.
	  </div>
	  {%- if true %}
	  <input id="debug" name="debug" type="hidden" value="1">
	  {%- endif -%}
	</fieldset>
	<div class="actionbar">
	  <table id="action_bar">
	    <tr>
	      <td><input class="action_button" name="query" type="submit" value="Query"></td>
	      <td><input class="action_button" name="reset" type="reset" value="Reset"></td>
	      <td class="right_align"></td>
	    </tr>
	  </table>
	</div>
      </form>
    </div>
{%- endmacro %}
